<div class="fill-area" *ngIf="movie">
  <h1>{{movie.title}}</h1>
  <p (mouseenter)="showFull = true" (mouseleave)="showFull = false">
    <span *ngIf="showFull">{{movie.overview}}</span>
    <span *ngIf="!showFull">{{truncatedOverview}}</span>
  </p>
  <p>
    Released: {{movie.release_date | date:'MM/dd/yyyy'}}
  </p>

  <div *ngIf="isLoggedIn">
    <mat-slide-toggle [checked]="userHasMovie" (change)="updateMovie($event.checked)">
      {{userHasMovie ? 'Saved' : 'Save to collection'}}
    </mat-slide-toggle>
  </div>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Poster</mat-card-title>
    </mat-card-header>
    <img [src]="getPosterPath(movie.poster_path)">
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>Backdrop</mat-card-title>
    </mat-card-header>
    <img [src]="getBackdropPath(movie.backdrop_path)">
  </mat-card>

  <ul>
    <li *ngFor="let company of movie.production_companies">
      {{company.name}}
      <img *ngIf="company.logo_path" [src]="getProductionCompanyLogoPath(company.logo_path)">
    </li>
  </ul>
</div>