<div>
  <form [formGroup]="form">
    <div class="container">
      <mat-form-field>
        <input matInput placeholder="Username" type="text" formControlName="username" required>
        <mat-error>required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password" required>
        <mat-error>required</mat-error>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]='form.invalid || isLoggingIn' (click)="login()">Login</button>
      <div *ngIf="isLoggingIn">Logging in...</div>
    </div>
  </form>
</div>