<div *ngIf="!hasResults">You have no saved movies.</div>
<div *ngIf="!hasPeopleResults">You have no saved people.</div>

<h2>Movies</h2>
<div class="mat-elevation-z8">

  <table #movieTable mat-table [dataSource]="dataSource" matSort id="movie-table">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 25%;"> Name </th>
      <td mat-cell *matCellDef="let movie"> {{movie.title}} </td>
    </ng-container>
    <ng-container matColumnDef="release_date">
      <th mat-header-cell *matHeaderCellDef style="width: 25%;"> Release Date </th>
      <td mat-cell *matCellDef="let movie"> {{movie.release_date | date:'MM/dd/yyyy'}} </td> <!-- #Pipes (built in) -->
    </ng-container>
    <ng-container matColumnDef="overview">
      <th mat-header-cell *matHeaderCellDef style="width: 25%;"> Overview </th>
      <td mat-cell *matCellDef="let movie"> {{movie.overview}} </td>
    </ng-container>
    <ng-container matColumnDef="navigate">
      <th mat-header-cell *matHeaderCellDef style="width: 25%;"></th>
      <td mat-cell *matCellDef="let movie">
        <button mat-flat-button color="primary" routerLink="/details/movie/{{movie?.id}}">Details</button>
        <button mat-flat-button color="warn" (click)="onClickRemoveMovie(movie)">Remove</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #moviePaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>

<h2>People</h2>
<div class="mat-elevation-z8">

  <table #personTable mat-table [dataSource]="peopleDataSource" matSort id="people-table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let person"> {{person.name}} </td>
    </ng-container>
    <ng-container matColumnDef="known_for_department">
      <th mat-header-cell *matHeaderCellDef> Known For </th>
      <td mat-cell *matCellDef="let person"> {{person.known_for_department}} </td>
    </ng-container>
    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef> Birthday </th>
      <td mat-cell *matCellDef="let person"> {{person.birthday | date:'MM/dd/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="navigate">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let person">
        <button mat-flat-button color="primary" routerLink="/details/person/{{person?.id}}">Details</button>
        <button mat-flat-button color="warn" (click)="onClickRemovePerson(person)">Remove</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="peopleDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: peopleDisplayedColumns;"></tr>
  </table>
  <mat-paginator #peoplePaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

</div>