#movie-table {
  width:100%;
  margin-top: 10px;
}

#movie-table td {
  padding-right: 5px;
}

#movie-table td:nth-child(1) {
  width: 10%;
}

#movie-table td:nth-child(2) {
  width: 5%;
}

#no-results {
  margin-top: 10px;
}