<div *ngIf="!hasResults">No movies found.</div>

<div class="mat-elevation-z8">

  <table #datatable mat-table [dataSource]="dataSource" id="movie-table">
    <ng-container style="display: none;" matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let movie">
        <app-results-actions [show]="isLoggedIn" [isInCollection]="isInCollection(movie)" (buttonClicked)="addRemove(movie)"></app-results-actions>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="width: 200px;"> Name </th>
      <td mat-cell *matCellDef="let movie"> {{movie.title}} </td>
    </ng-container>
    <ng-container matColumnDef="release_date">
      <th mat-header-cell *matHeaderCellDef> Release Date </th>
      <td mat-cell *matCellDef="let movie"> {{movie.release_date | date:'MM/dd/yyyy'}} </td>
    </ng-container>
    <ng-container matColumnDef="overview">
      <th mat-header-cell *matHeaderCellDef> Overview </th>
      <td mat-cell *matCellDef="let movie"> {{movie.overview}} </td>
    </ng-container>
    <ng-container matColumnDef="navigate">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let movie">
        <button mat-stroked-button routerLink="/details/movie/{{movie?.id}}">Details</button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
</div>

