<div>
  <form [formGroup]="form">
    <div class="container">
      <mat-form-field>
        <input matInput placeholder="Search" type="text" formControlName="search" required>
        <mat-error>required</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Year" type="number" formControlName="year">
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]='form.invalid || form.pristine' (click)="search()">Search</button>
    </div>
  </form>
</div>