<div *ngIf="person && movieCast && movieCrew">
  <img [src]="getProfilePath(person.profile_path)">
  <div>
    <p>Name: {{person.name}}</p>
  </div>
  <div *ngIf="isLoggedIn">
    <mat-slide-toggle [checked]="userHasPerson" (change)="updatePerson($event.checked)">
      {{userHasPerson ? 'Saved' : 'Save to collection'}}
    </mat-slide-toggle>
  </div>
  <div>
    <p *ngIf="!person.homepage">Home Page: none</p>
    <p *ngIf="person.homepage">Home Page: {{person.homepage}}</p>
  </div>
  <div *ngIf="person.also_known_as.length === 0">
    <p>AKA: none</p>
  </div>
  <div *ngIf="person.also_known_as.length !== 0">
    AKA:
    <ul>
      <li *ngFor="let aka of person.also_known_as">{{aka}}</li>
    </ul>
  </div>
  <div>
    Birthday: {{person.birthday ? (person.birthday | date: 'MM/dd/yyyy') : 'none'}}
  </div>
  <div>
    <p *ngIf="person.biography === ''">Biography: none</p>
    <p *ngIf="person.biography !== ''" (mouseenter)="showFull = true" (mouseleave)="showFull = false">
      <span *ngIf="showFull">Biography: {{person.biography}}</span>
      <span *ngIf="!showFull">Biography: {{truncatedBiography}}</span>
    </p>
  </div>
  <div>
    Cast (top 5): <span *ngIf="movieCast.length === 0">No cast credits found</span>
    <ul>
      <li *ngFor="let cast of movieCast">
        <div>Character: {{cast.character}}</div>
        <div>Title: {{cast.title}}</div>
        <img [src]="getPosterPath(cast.poster_path)">
      </li>
    </ul>
  </div>
  <div>
    Crew (top 5): <span *ngIf="movieCrew.length === 0">No crew credits found</span>
    <ul>
      <li *ngFor="let crew of movieCrew">
        <div>Department: {{crew.department}}</div>
        <div>Title: {{crew.title}}</div>
        <img [src]="getPosterPath(crew.poster_path)">
      </li>
    </ul>
  </div>
</div>