<div *ngIf="!hasResults">No people found.</div>

<div class="mat-elevation-z8">

  <table #datatable mat-table [dataSource]="dataSource" class="person-table" id="person-table">
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let person">
        <app-results-actions [show]="isLoggedIn" [isInCollection]="isInCollection(person)" (buttonClicked)="addRemove(person)"></app-results-actions>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="width: 200px;"> Name </th>
      <td mat-cell *matCellDef="let person"> {{person.name}} </td>
    </ng-container>
    <ng-container matColumnDef="known_for_department">
      <th mat-header-cell *matHeaderCellDef> Profession </th>
      <td mat-cell *matCellDef="let person"> {{person.known_for_department}} </td>
    </ng-container>
    <ng-container matColumnDef="navigate">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let person">
          <button mat-stroked-button routerLink="/details/person/{{person?.id}}">Details</button>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  
</div>

