<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Movie App</span>
    <button *ngIf="isLoggedIn" mat-button [routerLink]="['/dashboard']">Dashboard</button>
    <button mat-button [routerLink]="['/search/movie']">Search Movie</button>
    <button mat-button [routerLink]="['/search/person']">Search Person</button>
    <span class="example-fill-remaining-space"></span>
    <span *ngIf="isLoggedIn"><a mat-button (click)="logout()">logout</a></span>
    <span *ngIf="!isLoggedIn"><a mat-button [routerLink]="['/login']">login</a></span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>